{% extends 'admin_base.html.twig' %}

{% block title %}Fiches Matchs{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .fiche-table td, th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des fiches matchs</h3>
                <div class="card-tools">
                    <a href="{{ path('fiche_match_new') }}"><i class="fa fa-plus"></i>Créer une fiche match</a>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered fiche-table">
                    <thead>
                    <tr>
                        <th>DateDebut</th>
                        <th>Nom</th>
                        <th>Stade</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fiche_match in fiche_matches %}
                        <tr>
                            <td>{{ fiche_match.DateDebut ? fiche_match.DateDebut|date('d-m-Y H:i') : '' }}</td>
                            <td>{{ fiche_match.Nom }}</td>
                            <td>{{ fiche_match.Stade }}</td>
                            <td>
                                <a href="{{ path('fiche_match_show', {'id': fiche_match.id}) }}" class="btn btn-sm btn-primary" title="Voir">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('fiche_match_edit', {'id': fiche_match.id}) }}" class="btn btn-sm btn-warning" title="Modifier">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun match trouvé !</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
