{% extends 'base.html.twig' %}

{% block title %}Arbitre{% endblock %}

{% block body %}
    <h1>Arbitre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arbitre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ arbitre.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ arbitre.Prenom }}</td>
            </tr>
            <tr>
                <th>Nationnalite</th>
                <td>{{ arbitre.Nationnalite }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ arbitre.Role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('arbitre_index') }}">back to list</a>

    <a href="{{ path('arbitre_edit', {'id': arbitre.id}) }}">edit</a>

    {{ include('arbitre/_delete_form.html.twig') }}
{% endblock %}
