{% extends 'admin_base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .equipe-table td, th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des équipes</h3>
                <div class="card-tools">
                    <a href="{{ path('equipe_new') }}"><i class="fa fa-plus"></i>Créer une équipe</a>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered equipe-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Ville</th>
                        <th>Logo</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipe in equipes %}
                        <tr>
                            <td>{{ equipe.Nom }}</td>
                            <td>{{ equipe.Ville }}</td>
                            <td>
                                <img src ="{{ asset('uploads/images/' ~ equipe.image)}}" width="35px" height="35px" />
                            </td>
                            <td>
                                <a href="{{ path('equipe_show', {'id': equipe.id}) }}" class="btn btn-sm btn-primary" title="Voir">
                                    <i class="fa fa-eye"></i>
                                </a>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}" class="btn btn-sm btn-warning" title="Modifier">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
