{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .articles-table td, th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des articles</h3>
                <div class="card-tools">
                    <a href="{{ path('article_new') }}"><i class="fa fa-plus"></i> Ajouter un article</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered articles-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date_creation</th>
                        <th>Image</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.nom }}</td>
                            <td>{{ article.description }}</td>
                            <td>{{ article.dateCreation ? article.dateCreation|date('d-m-Y H:i') : '' }}</td>
                            <td><img src ="{{ asset('uploads/images/' ~ article.image)}}" width="35px" height="35px"></td>
                            <td>
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-sm btn-primary" title="Voir">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-sm btn-warning" title="Modifier">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Aucune article trouvé ! </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
